<div class="container block ">
    <p>在各地电改形势变化的同时，交能网也在不断的关注，尽力提供最完整和专业的市场信息。在 “全国售电政策发展指数”取得巨大成功与关注后，交能网基于内部政策数据库，继续独家发布该指数，希望帮助所有关心电改与售电的同仁能够更好地了解各地电改全貌。</p>
</div>
<div class="container block">
    <p>如果您有任何意见或建议</p>
    <p>欢迎联系微信号rongweiyuejiaoneng</p>
    <p>电子邮箱info@jiaonengwang.com</p>
    <p>或者在公众号“交能网”下留言</p>
</div>
<!-- <div class="container block">
    <p>页面内部分图标，在<a href="https://creativecommons.org/licenses/by-nc-sa/3.0/cn/" target="_blank">知识共享 署名-相同方式共享 3.0协议</a>下使用。交能数据以下作者致谢：<br>Nathan Driskell, Brand Mania, Iconathon</p>
</div> -->