<div ng-controller="EntityactiveCtrl">
    <ol class="breadcrumb breadcrumb-less block">
        <li><a href="#/">售电指数</a></li>
        <li><a href="#!/chgProv">{{ provName }}</a></li>
        <li class="active">主体活跃指数</li>
    </ol>
    <div class="block container">
        <div class="col-xs-12">
            <span class="subblock-title">本省概况</span>
            <a href="#!/chgProv" class="subblock-link">其他省份</a>
        </div>
        <hr class="hr-less" style="color: #000000; width: 100%;"></hr>
        <div class="col-xs-3" style="text-align: center;">
            <h5>得分</h5>
            <h3 style="color: #0365a5">68.2</h3>
        </div>
        <div class="col-xs-3" style="text-align: center;">
            <h5>排名</h5>
            <h3 style="color: #0365a5">1</h3>
        </div>
        <div class="col-xs-6">
            <h5>变化</h5>
            <img src="/images/index-developments.png" style="width: 100%" />
        </div>
        <div class="col-xs-12">
            </br>
            <p>XX发展指数：全国各地区售电市场发展程度指示剂，满分100分，分数越高，说明该地区越适合XXXX</p>
        </div>
    </div>
    
    <div class="block container">
        <div class="col-xs-12">
            <span class="subblock-title">活跃主体</span>
            <a href="#!/chgProv" class="subblock-link">售电公司平台</a>
        </div>
        <hr class="hr-less" style="color: #000000; width: 100%;"></hr>
        <div class="container">
            <ol>
                <li>
                    广东广能售电公司 <a href="#">详情</a>
                </li>
                <hr class="hr-less" style="color: #000000; width: 100%;"></hr>
                <li>
                    广东广能售电公司 <a href="#">详情</a>
                </li>
                <hr class="hr-less" style="color: #000000; width: 100%;"></hr>
                <li>
                    广东广能售电公司 <a href="#">详情</a>
                </li>
            </ol>
        </div>
    </div>
    <div class="block container">
        <div class="col-xs-12">
            <span class="subblock-title">相关新闻</span>
            <a href="#!/chgProv" class="subblock-link">售电日报</a>
        </div>
        <hr class="hr-less" style="color: #000000; width: 100%;"></hr>
        <div class="container">
            <ul class="list-unstyled  ">
                <li ng-repeat="obj in news">
                    {{obj['content']}} <small>&nbsp&nbsp{{obj['wechat_name']}}</small><a target="_blank" href="{{obj['link']}}">&nbsp&nbsp详情</a>
                    <hr class="hr-less" style="color: #000000; width: 100%;"></hr>
                </li>
            </ul>
        </div>
    </div>
</div>