<div class="container">
  <a href="#!/chgProv" >
    <div class="container block" style="color: #414141;">
      <h3 class="text-left"><span class="glyphicon glyphicon-object-align-bottom"></span>&nbsp交能指数查询</h3>
      <p class="text-left" style="color: #414141;">点击上方导航栏或者&nbsp<span class="glyphicon glyphicon-align-justify" ></span>&nbsp开始查询</p>
    </div>
  </a>
  <a href="http://www.jiaonengwang.com/dailydemo.html">  
    <div class="container block" style="color: #414141;">
        <h3 class="text-left"><span class="glyphicon glyphicon-list-alt"></span>&nbsp售电日报</h3>
      <p class="text-center"></p>
    </div>
  </a>
  <a href="#!/notfound">
    <div class="container block" style="color: #414141;">
      <h3 class="text-left"><span class="glyphicon glyphicon-time"></span>&nbsp政策时间轴</h3>
      <p class="text-center"></p>
    </div>
  </a>
  <a href="#!/notfound">
    <div class="container block" style="color: #414141;">
      <h3 class="text-left"><span class="glyphicon glyphicon-search"></span>&nbsp售电公司查询</h3>
    </div>
  </a>
  <a href="#!/notfound">
    <div class="container block" style="color: #414141;">
      <h3 class="text-left"><span class="glyphicon glyphicon-eye-open"></span>&nbsp分省电价查询</h3>
    </div>
  </a>
</div>
