<div class="container">
  <div class="container block">
    <h3 class="text-center">交能指数查询</h3>
    <a href="#!/chgProv" ><p class="text-center">选择页面</p></a>
    <p class="text-center">点击上方导航栏或者&nbsp<span class="glyphicon glyphicon-align-justify" style="color: #414141;"></span>&nbsp开始查询</p>
  </div>
  <div class="container block">
      <h3 class="text-left"><span class="glyphicon glyphicon-list-alt"></span>&nbsp售电日报</h3>
    <p class="text-center"></p>
  </div>
  <div class="container block">
    <h3 class="text-left"><span class="glyphicon glyphicon-time"></span>&nbsp政策时间轴</h3>
    <p class="text-center"></p>
  </div>
  <div class="container block">
    <h3 class="text-left"><span class="glyphicon glyphicon-search"></span>&nbsp售电公司查询</h3>
  </div>
  <div class="container block">
    <h3 class="text-left"><span class="glyphicon glyphicon-eye-open"></span>&nbsp分省电价查询</h3>
  </div>


</div>
