<ol class="breadcrumb block">
    <li><a href="#/">售电指数</a></li>
    <li><a href="#!/chgProv">{{ provName }}</a></li>
    <li class="active">政策发展指数</li>
</ol>
<div class="container block">
  <p>这是政策发展页面</p>
</div>
<div class="block container">
  <div class="col-xs-12">
      <span class="subblock-title">相关政策</span>
      <a href="#" class="subblock-link">政策时间轴</a>
  </div>
  <hr class="hr-less" style="color: #000000; width: 100%;"></hr>
  <div class="container">
      <ul class="list-unstyled  ">
          <li>
              关于选举广东电力市场管理委员会代表的通知 07-05
          </li>
          <hr class="hr-less" style="color: #000000; width: 100%;"></hr>
          <li>
              关于选举广东电力市场管理委员会代表的通知 07-05
          </li>
          <hr class="hr-less" style="color: #000000; width: 100%;"></hr>
          <li>
              关于选举广东电力市场管理委员会代表的通知 07-05
          </li>
          </ol>
  </div>
</div>